html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  background-color: #323437;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

/* Index HTML style */

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
}

header .logo {
  color: #fff;
  font-weight: bold;
  margin-left: 20px;
}

header .logo a {
  text-decoration: none;
  color: white;
}

.nav-link a {
  text-decoration: none;
}

.nav-link button {
  background-color: #fdfd1f;
  width: 200px;
  height: 40px;
  border-radius: 20px;
}

#indexMain {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.header {
  color: white;
}

#indexMain section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1 .header {
  width: 50vw;
}

footer {
  color: white;
  border-top: 2px solid #fdfd1f;
  scroll-snap-align: start;
  height: 30vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
}

#section1 .header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
}

#section1 .header p {
  font-size: 1.1vw;
  text-align: center;
}

#section1 .header p a{
  color: #fdfd1f;
}

#scrollIndicator {
  margin-left: 200px;
  position: absolute;
  bottom: 15%;
  right: 18%;
}

#mouse_icon {
  position: relative;
  width: 25px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
  animation: mouse 5s infinite;
  /* background-color: 323437; */
}

#mouse_icon p{
  writing-mode: vertical-rl;
  margin-left: -15px;
  margin-top: 60px;
  color: white;
  font-size: 14px;
}

#mouse_icon #topLine{
  position: absolute;
  top: -40px;
  width: 2px;
  height: 40px;
  content: '';
  background-color: white;
  left: calc(50% - 1px);
  border-radius: 10px;
  z-index: -99;
}

#mouse_icon #bottomLine{
  position: absolute;
  top: 46px;
  width: 2px;
  height: 150px;
  content: '';
  background-color: white;
  left: calc(50% - 1px);
  border-radius: 10px;
  z-index: -99;
}

/* #mouse_icon:before {
  position: absolute;
  top: -30px;
  width: 2px;
  height: 200px;
  content: '';
  background-color: white;
  left: calc(50% - 1px);
  border-radius: 10px;
  z-index: -99;
} */

#mouse_icon:after {
  position: absolute;
  /* top: 30px; */
  top: 7px;
  width: 5px;
  height: 10px;
  content: '';
  background-color: white;
  left: calc(50% - 2.5px);
  border-radius: 10px;
  /* animation: mouse 2s infinite; */
}

@keyframes mouse {
  0% {
    top: 5px;
  }

  50% {
    top: 70px;
  }

  100% {
    top: 5px;
  }
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-color: rgba(0, 0, 0, .5);
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section2 h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.programs {
  width: 80vw;
  height: 80vh;
  overflow: scroll;
}

/* End Of Index HTML Style */