{% extends 'layout.html' %}

{% include 'navbar.html' %}

{% block head %}
<title>Pertemuan 2</title>
{% endblock %}

{% block body %}
<main>
    <section class="d-flex justify-content-center mt-6">
        <div style="width: 80vw;">
            <div class="row mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload Image</h5>
                        <p class="card-text">Unggah citra digital yang ingin anda manipulasi</p>
                        <!-- <a href="#" class="btn" style="background-color: #fdfd1f">Pertemuan 1</a> -->
                        <div class="upload-from">
                            <form method="POST" enctype="multipart/form-data" id="brightnessForm">
                                <input type="file" name="im_file" class="btn">
                                <button type="submit" value="Upload File" class="btn"
                                    style="background-color: #fdfd1f">Upload File</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6" style="padding: 0 8px 0 0;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Result Image</h5>
                            {% if data and data.img %}
                            <img id="rawImage" src="data:image/png;base64,{{data.img}}" alt="test" style="width: 100%;" hidden>
                            <img id="resultImage" src="data:image/png;base64,{{data.img}}" alt="test" style="width: 100%;">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding: 0 0 0 8px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Brightness Manipulation</h5>
                            {% if data and data.img %}
                            <!-- <img id="resultImage" src="data:image/png;base64,{{img_brad}}" alt="test" style="width: 100%;"> -->
                            <div class="mt-3">
                                <label for="manipulationMode" class="form-label mt-2">Manipulation Mode</label>
                                <select id="manipulationMode" name="manipulationMode" class="form-select" aria-label="Default select example">
                                    <option value="manual" selected>Manual Brightness Manipulation</option>
                                    <option value="opencv">OpenCV Brightness Manipulation</option>
                                </select>
                            </div>
                            <div class="mt-3">
                                <label for="brightnessRangeValue" class="form-label mt-2">Change Brightness</label>
                                <input name="brightnessRangeValue" type="number" id="brightnessRangeValue" max="255" min="-255" value="0">
                                <div class="d-flex justify-content-center">
                                    <p>-255</p>
                                    <input type="range" class="form-range" min="-255" max="255" id="brightnessRange"
                                    style="margin: 0 10px;" value="0">
                                    <p>255</p>
                                </div>
                                <table>
                                    <tr>
                                        <td>
                                            <label for="brightnessMultiplicationValue" class="form-label mt-2">Multiply Brightness By</label>
                                        </td>
                                        <td>
                                            <span>:</span>
                                            <input name="brightnessMultiplicationValue" type="number" id="brightnessMultiplicationValue" min="0" step="0.01" style="margin-left: 20px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="brightnessDivisionValue" class="form-label mt-2">Divide Brightness By</label>
                                        </td>
                                        <td>
                                            <span>:</span>
                                            <input name="brightnessDivisionValue" type="number" id="brightnessDivisionValue" min="0" step="0.01" style="margin-left: 20px;">
                                        </td>
                                    </tr>
                                </table>
                                <br>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $("#manipulationMode").change(function () {
        $("#brightnessRange").val(0)
        $("#brightnessRange").change()

        $("#brightnessMultiplicationValue").val('')
        $("#brightnessDivisionValue").val('')
    });

    $("#brightnessRange").change(function () {
        $("#brightnessMultiplicationValue").val('')
        $("#brightnessDivisionValue").val('')

        $('#brightnessRangeValue').val($('#brightnessRange').val())
        val = $('#brightnessRangeValue').val();
        img = $('#rawImage').attr('src')
        img = img.split(',')[1]
        $.ajax({
            url: '/brightness',
            type: 'POST',
            data: { 
                'img': img,
                'value': $('#brightnessRange').val(),
                'mode': $('#manipulationMode').val(),
                'operation': 'addSub'
            },
            success: function (response) {
                $('#resultImage').attr('src', `data:image/png;base64,${response.img}`)
            }
        })
    });

    $("#brightnessRangeValue").on("input", function () {
        $("#brightnessMultiplicationValue").val('')
        $("#brightnessDivisionValue").val('')

        $('#brightnessRange').val($('#brightnessRangeValue').val())
        val = $('#brightnessRange').val();
        img = $('#rawImage').attr('src')
        img = img.split(',')[1]
        $.ajax({
            url: '/brightness',
            type: 'POST',
            data: { 
                'img': img,
                'value': $('#brightnessRangeValue').val(),
                'mode': $('#manipulationMode').val(),
                'operation': 'addSub'
            },
            success: function (response) {
                $('#resultImage').attr('src', `data:image/png;base64,${response.img}`)
            }
        })
    });

    $("#brightnessMultiplicationValue").on("input", function () {
        $("#brightnessRange").val('')
        $("#brightnessRangeValue").val('0')
        $("#brightnessDivisionValue").val('')

        val = $('#brightnessMultiplicationValue').val();
        img = $('#rawImage').attr('src')
        img = img.split(',')[1]
        $.ajax({
            url: '/brightness',
            type: 'POST',
            data: { 
                'img': img,
                'value': $('#brightnessMultiplicationValue').val(),
                'mode': $('#manipulationMode').val(),
                'operation': 'multiplication'
            },
            success: function (response) {
                $('#resultImage').attr('src', `data:image/png;base64,${response.img}`)
            }
        })
    });
    
    $("#brightnessDivisionValue").on("input", function () {
        $("#brightnessRange").val('')
        $("#brightnessRangeValue").val('0')
        $("#brightnessMultiplicationValue").val('')

        val = $('#brightnessDivisionValue').val();
        img = $('#rawImage').attr('src')
        img = img.split(',')[1]
        $.ajax({
            url: '/brightness',
            type: 'POST',
            data: { 
                'img': img,
                'value': $('#brightnessDivisionValue').val(),
                'mode': $('#manipulationMode').val(),
                'operation': 'division'
            },
            success: function (response) {
                $('#resultImage').attr('src', `data:image/png;base64,${response.img}`)
            }
        })
    });
</script>
{% endblock %}