{% extends 'layout.html' %}

{% include 'navbar.html' %}

{% block head %}
<title>Pertemuan 2</title>
{% endblock %}

{% block body %}
<main>
    <section class="d-flex justify-content-center mt-6">
        <div style="width: 80vw;">
            <div class="row mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload Image</h5>
                        <p class="card-text">Unggah citra digital yang ingin anda manipulasi</p>
                        <!-- <a href="#" class="btn" style="background-color: #fdfd1f">Pertemuan 1</a> -->
                        <div class="upload-from">
                            <form method="POST" enctype="multipart/form-data">
                                <input type="file" name="im_file" class="btn">
                                <button type="submit" value="Upload File" class="btn"
                                    style="background-color: #fdfd1f">Upload File</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6" style="padding: 0 8px 0 0;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Original Image</h5>
                            {% if data and data.img %}
                            <img src="data:image/png;base64,{{data.img}}" alt="test" style="width: 100%;">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding: 0 0 0 8px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Grayscale Image</h5>
                            {% if data and data.grayscale %}
                            <img src="data:image/png;base64,{{data.grayscale}}" alt="test" style="width: 100%;">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}